#parent, #other, #grand{
    border: 5px solid tomato;
    margin: 2px;
}
#other{
    
}
#grand{
    position: relative;
    left: 0;
    top: 0;
}
#me{
    background-color: black;
    color: white;
    position: absolute;
    left: 20px;
    top: 10px;
}